<footer class='footer'>
	<div class='container'>
		<div class='row'>
			<div class='six column'>
				<ul class="footer-icon">
					<li><a href="https://www.facebook.com/wuhooo" title="" class="icons" target="_blank"><span class="fa fa-facebook"></span></a></li>
          <li><a href="https://www.instagram.com/drinkmysoysauce/" title="" class="icons" target="_blank"><span class="fa fa-instagram"></span></a></li>
					<li><a href="https://twitter.com/DrinkMySoySauce" title="" class="icons" target="_blank"><span class="fa fa-twitter"></span></a></li>
          <li><a href="https://www.linkedin.com/in/taylorswu" title="" class="icons" target="_blank"><span class="fa fa-linkedin"></span></a></li>
          <li><a href="https://github.com/TaylorWu21" title="" class="icons" target="_blank"><span class="fa fa-github"></span></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>