.page-footer {
  margin: 0px !important;
  padding: 0px !important;
}

ul.footer-icon {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right;
}

ul.footer-icon li {
  float: left;
}

ul.footer-icon li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.icons {
  margin-left: 10px;
  font-size: 40px;
  cursor: pointer;
}
.icons:hover {
  color: #666666;
}
